/* summary */
.summary {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(to bottom left, #008b79, #1180a1);
}

.summary h1 {
  margin: 0;
  padding-top: 2rem;
  font-size: 3.2rem;
  text-align: center;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

@media (min-width: 1024px) {
  .summary h1 {
    font-size: 4.2rem;
    padding-top: 2.8rem;
  }
}
@media (min-width: 1400px) {
  .summary h1 {
    font-size: 8rem;
    padding-top: 4.8rem;
  }
}

/* EventLogistics */
.logistics {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #2b2b2b;
  padding: 3.2rem;
  max-width: 80rem;
  width: 80%;
  margin: -4.8rem auto 0;
  color: #d5eeeb;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  flex-direction: column;
  align-items: center;
}

.logistics .image {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}

.logistics .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logistics .list {
  flex: 3;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logistics address {
  white-space: pre;
}

@media (min-width: 768px) {
  .logistics {
    padding: 3.2rem;
    margin: -8rem auto 0;
    gap: 4.8rem;
    flex-direction: row;
    align-items: stretch;
  }

  .logistics .image {
    width: 32rem;
    height: 32rem;
  }

  .logistics .list {
    align-items: flex-start;
  }
}

/* LogisticsItem */
.logisticsItem {
  display: flex;
  font-size: 2rem;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #aefff8;
}

.logisticsItem span {
  display: block;
}

.logisticsItem .icon {
  margin-right: 1.6rem;
  color: #18e0d0;
}

.logisticsItem .icon svg {
  width: 3.2rem;
  height: 3.2rem;
}

@media (min-width: 768px) {
  .logisticsItem {
    align-items: flex-start;
    text-align: left;
  }
}

/* Event Content */
.eventContent {
  font-size: 2.4rem;
  color: #3a3a3a;
  width: 90%;
  max-width: 40em;
  margin: auto;
  margin-top: 8rem;
  text-align: center;
}
